<!DOCTYPE html>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
<html lang="ru">
<img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614532683_2-p-kniga-na-belom-fone-2.png" width="130" height="130">
<h2 align="center" style="color:Black">Контакты сайта "Мир книг"</h2>
<h3><a href="http://127.0.0.1:8000/">Главная страница</a></h3>
 <head>
   <style>
	body {
   	   background: #fadadd;
	   color: #fff;
   }
   </style>
 </head>
  <body>
    <header>

      <h5 align="left" style="color:Black">Вы можете задать связаться с нами по следующим ссылкам :</h5>

      <nav>
        <ul>
          <li><a href="https://t.me/@ivangoroshchenya">Написать в Телеграм</a></li>
          <li><a href="mailto:ivangoroshenya@yandex.by" target="_blank" rel="noopener noreferrer">Написать на почту </a></li>
          <li><a href="tel:+375293456748">+375293456748 - Vider</a></li>
        </ul>
      </nav>
    </header>
   <img src="https://i.pinimg.com/originals/ef/07/43/ef0743f33cef761f8b33cbc40d679b89.jpg" width="1700" height="610" alt="Логотип сайта">
  </body>
</html>



<!--{% extends "catalog/base.html" %}-->
<!--<head>-->
<!--{% load static %}-->
<!--</head>-->
<!--{% block content %}-->
<!--<div class="container-fluid">-->
<!--    <div class="row my-2 text-center">-->
<!--        <div class="col-5"></div>-->
<!--        <div class="col-1 text-center">-->
<!--            <img src=" { % static 'images/SIS. jpg' % } ">-->
<!--        </div>-->
<!--        <div class="col-5"></div>-->
<!--    </div>-->
<!--    <div class="row my-2 text-primary text-center">-->
<!--        <hЗ>{{name}}</hЗ>-->
<!--    </div>-->
<!--    <div class="row my-2 text-muted ">-->
<!--        <h4 class="text-center">{{ text_head }}</h4>-->
<!--    </div>-->
<!--    <div class="row my-2">-->
<!--        &lt;!&ndash; nустые колонки слева от таблицы&ndash;&gt;-->
<!--        <div class="col-3"></div>-->
<!--        <div class="col-6">-->
<!--        <table class="table table-striped table-bordered text-start">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>Aдpec</th>-->
<!--                    <th>Teлeфoн</th>-->
<!--                    <th>e-mail</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td>{{ address }}</td>-->
<!--                <td>{{ tel }}</td>-->
<!--                <td>{{ email }}</td>-->
<!--            </tr>-->
<!--        <tbody>-->
<!--        </table>-->
<!--        </div>-->
<!--        &lt;!&ndash; nустые колонки сnрава от таблицы&ndash;&gt;-->
<!--        <div class="col-3"></div>-->
<!--        &lt;!&ndash; карта&ndash;&gt;-->
<!--        <div class="row my-2 text-center">-->
<!--            <div class="col-2"></div>-->
<!--            <div class="col-8">-->
<!--            <img src="{% static 'images/address.jpg' %)" class="img-fluid" >-->
<!--            </div>-->
<!--            <div class="col-2"></div>-->
<!--        </div>-->
<!--</div>-->
<!--{% endblock %}-->

